.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #1f1f1f;
  background-color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1667;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
}

h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .875rem;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.6;
}

a {
  color: #f47121;
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

.container {
  height: 100vh;
  object-fit: fill;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  overflow: visible;
}

.placeholder_van {
  text-align: left;
}

.text-block-2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.125;
}

.heading {
  margin: 72px;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.form-checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form-checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form-checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form-checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.margin-xsmall {
  margin: .5rem;
}

.icon-large {
  height: 4rem;
}

.show-tablet {
  display: none;
}

.overflow-auto {
  overflow: auto;
}

.show {
  display: block;
}

.padding-xhuge {
  padding: 8rem;
}

.fs-styleguide_row {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  display: grid;
}

.fs-styleguide_row.is-for-social-icons {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.fs-styleguide_version-details {
  z-index: 5;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.heading-small {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.z-2 {
  z-index: 2;
  position: relative;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_3-col {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.background-color-black {
  color: #f5f5f5;
  background-color: #000;
}

.text-color-primary {
  color: #000;
}

.text-color-primary.text-weight-medium.text-style-nounderline {
  transition: color .3s cubic-bezier(.075, .82, .165, 1);
}

.text-color-primary.text-weight-medium.text-style-nounderline:hover {
  color: #f47121;
}

.text-color-grey {
  color: gray;
}

.form-message-success {
  padding: 1.25rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-small {
  padding: 1rem;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.text-weight-normal {
  font-weight: 400;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #f47121;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color .3s cubic-bezier(.075, .82, .165, 1);
}

.button:hover {
  background-color: #ec5900;
  border-color: #ec5900;
}

.button:active {
  background-color: #f47121;
  border-color: #f47121;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-vertical.margin-medium {
  margin-top: 2rem;
  margin-left: 0;
  margin-right: 0;
}

.margin-vertical.margin-huge {
  margin-left: 0;
  margin-right: 0;
}

.text-style-italic {
  font-style: italic;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.button-secondary {
  color: #1f1f1f;
  text-align: center;
  background-color: #fff;
  border: .0625rem solid #9a9a99;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .6875rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color .3s cubic-bezier(.075, .82, .165, 1);
}

.button-secondary:hover {
  background-color: #e8e7e5;
}

.button-secondary:active {
  background-color: #f2f3f2;
}

.button-secondary.nav-button:hover {
  color: #fff;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_1-col {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_1-col.gap-medium {
  grid-row-gap: 2.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.margin-bottom, .margin-bottom.margin-medium, .margin-bottom.margin-xhuge, .margin-bottom.margin-huge, .margin-bottom.margin-small, .margin-bottom.margin-xxhuge {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.icon-small {
  height: 2rem;
}

.background-color-grey {
  background-color: rgba(168, 193, 216, .2);
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.heading-xsmall {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

.heading-xsmall.faq {
  width: 100%;
}

.text-weight-light {
  font-weight: 300;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.text-style-link {
  color: #f47121;
  text-decoration: underline;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.margin-huge {
  margin: 6rem;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_section-type {
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #000;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
}

.fs-styleguide_2-col {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  justify-content: start;
  display: grid;
}

.fs-styleguide_section {
  grid-column-gap: 4rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.max-width-large.align-center.is-hero {
  position: relative;
}

.padding-medium {
  padding: 2rem;
}

.fs-styleguide_background-spacer {
  height: 5rem;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.text-size-small.text-color-secondary.text-weight-medium.text-style-nounderline {
  transition: color .2s;
}

.text-size-small.text-color-secondary.text-weight-medium.text-style-nounderline:hover {
  color: #f47121;
}

.text-size-small.text-weight-medium.text-color-white {
  cursor: default;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form-radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form-radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form-radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.padding-xxsmall {
  padding: .25rem;
}

.text-align-left {
  text-align: left;
}

.form-input {
  min-height: 3rem;
  background-color: #fff;
  border: 1px #000;
  margin-bottom: .75rem;
  padding: .875rem 1rem;
}

.form-input::-ms-input-placeholder {
  color: rgba(31, 31, 31, .4);
}

.form-input::placeholder {
  color: rgba(31, 31, 31, .4);
}

.form-input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.fs-styleguide_classes {
  display: none;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-vertical.padding-small.footer_top-stroke, .padding-vertical.padding-medium.footer_top-stroke {
  border-top: .0625rem solid #c1c1bf;
}

.text-size-large {
  font-size: 2rem;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.heading-large {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.container-large.last-call {
  border-top: .0625rem solid #c1c1bf;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.icon-1x1-medium {
  width: 3rem;
  height: 3rem;
}

.show-mobile-landscape {
  display: none;
}

.form-message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-1x1-large {
  width: 4rem;
  height: 4rem;
}

.icon-medium {
  height: 3rem;
}

.fs-styleguide_element-wrapper.forms {
  background-color: #e8e7e5;
  padding: 1rem;
}

.text-align-center {
  text-align: center;
}

.form-wrapper {
  margin-bottom: 0;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.fs-styleguide_page-header {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: .75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.margin-xxhuge {
  margin: 12rem;
}

.fs-styleguide_color-sample {
  background-color: #f5f5f5;
  margin-top: .5rem;
  padding: 5rem;
}

.fs-styleguide_color-sample.is-primary {
  background-color: #f47121;
}

.fs-styleguide_color-sample.is-text-color {
  background-color: #fc8943;
}

.fs-styleguide_color-sample.is-secondary {
  background-color: #ec5900;
}

.fs-styleguide_color-sample.is-background1 {
  background-color: #f4bf31;
}

.fs-styleguide_color-sample.is-background2 {
  background-color: #e5aa0a;
}

.fs-styleguide_color-sample.is-yellow-light {
  background-color: #ffd25a;
}

.fs-styleguide_color-sample.is-white {
  background-color: rgba(0, 0, 0, 0);
}

.fs-styleguide_color-sample.is-light-grey {
  background-color: #f2f3f2;
}

.fs-styleguide_color-sample.is-med-light-grey {
  background-color: #e8e7e5;
}

.fs-styleguide_color-sample.is-med-grey {
  background-color: #c1c1bf;
}

.fs-styleguide_color-sample.is-med-dark-grey {
  background-color: #9a9a99;
}

.fs-styleguide_color-sample.is-dark-grey {
  background-color: #696a68;
}

.fs-styleguide_color-sample.is-very-dark-grey, .fs-styleguide_color-sample.is-text-primary {
  background-color: #1f1f1f;
}

.fs-styleguide_color-sample.is-text-secondary {
  background-color: rgba(31, 31, 31, .7);
}

.fs-styleguide_color-sample.is-text-tertiary {
  background-color: rgba(31, 31, 31, .4);
}

.show-mobile-portrait {
  display: none;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.margin-0 {
  margin: 0;
}

.z-1 {
  z-index: 1;
  position: relative;
}

.heading-xlarge {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.text-size-medium {
  font-size: 1.25rem;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.button-text {
  color: #f47121;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding: .75rem 1.25rem;
  font-weight: 600;
}

.button-text:hover {
  color: #fc8943;
}

.button-text:active {
  color: #ec5900;
}

.hide {
  display: none;
}

.heading-medium {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-medium.text-weight-normal {
  font-weight: 400;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.form-radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.button-disabled {
  color: #fff;
  text-align: center;
  cursor: not-allowed;
  background-color: #c1c1bf;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .8125rem 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
}

.section-home-feature-1 {
  background-color: #fff;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 1.2;
}

.legal_component h1, .legal_component p, .legal_component h2 {
  margin-bottom: 2rem;
}

.legal_component h3 {
  margin-bottom: 1rem;
}

.placeholder_comingsoon {
  height: 100vh;
  grid-row-gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav_component {
  z-index: 10;
  background-color: #fff;
  border-bottom: .0625rem solid #c1c1bf;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_container {
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.nav_container.howitworks {
  justify-content: center;
}

.nav_menu {
  grid-column-gap: 1rem;
  align-items: center;
  display: flex;
}

.nav_menu-link {
  color: #1f1f1f;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
}

.nav_menu-link:hover {
  color: #f47121;
}

.link-block {
  padding-top: 1rem;
}

.support_faq {
  background-color: #fff;
  border-radius: 3rem;
}

.support_sidebar {
  grid-row-gap: 1.5rem;
  border-radius: 3rem;
  flex-direction: column;
  display: flex;
}

.support_container {
  grid-column-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.howitworks_hero {
  background-color: #f2f3f2;
  border-radius: 3rem;
}

.howitworks_card-container {
  grid-column-gap: 1.5rem;
  justify-content: space-between;
  display: flex;
}

.howitworks_card-item {
  background-color: #fff;
  border-radius: 3rem;
  flex: 1;
  padding: 3rem;
}

.howitworks_location, .howitworks_explainer {
  background-color: #f2f3f2;
  border-radius: 3rem;
}

.faq_item {
  border-bottom: .0625rem solid #c1c1bf;
}

.faq_question {
  z-index: 2;
  grid-column-gap: 2rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: padding-left .3s cubic-bezier(.075, .82, .165, 1), color .3s cubic-bezier(.075, .82, .165, 1);
  display: flex;
  position: relative;
}

.faq_question:hover {
  color: #f47121;
}

.faq_question:active {
  padding-left: .25rem;
}

.faq_expand-icon {
  background-color: #f47121;
  border-radius: 5rem;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: .5rem;
  transition: opacity .3s;
  display: flex;
}

.faq_expand-icon:hover {
  background-color: #ec5900;
}

.faq_answer {
  z-index: 1;
  position: relative;
}

.faq_answer-content {
  padding-bottom: 2rem;
}

.support_faq-container {
  flex-direction: column;
  display: flex;
}

.footer_container-pages {
  grid-column-gap: 2rem;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.footer_container-social {
  grid-column-gap: 2rem;
  flex-direction: row;
  display: flex;
}

.footer_column-home {
  width: 50%;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  max-width: 40rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.legal_container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.legal_container-right {
  background-color: #fff;
  border-radius: 3rem;
}

.position-sticky, .legal_container-left {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.support_sidebar-top, .support_sidebar-bottom {
  background-color: #fff;
  border-radius: 3rem;
}

.nav_logo-container {
  color: #f47121;
  line-height: 1;
  transition: color .3s cubic-bezier(.075, .82, .165, 1);
}

.nav_logo-container:hover {
  color: #ec5900;
}

.image {
  max-height: 4rem;
}

.card_download {
  background-color: #f2f3f2;
  border-radius: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.card_location {
  background-color: #f2f3f2;
  border-radius: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  overflow: hidden;
}

.card_location-left {
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.card_download-right-badges {
  grid-column-gap: 1rem;
  display: flex;
}

.card_location-image {
  object-fit: cover;
}

.steps_container {
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
  text-align: center;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.step_1-left {
  max-width: 20rem;
  position: relative;
}

.steps_step-1 {
  width: 100%;
}

.step_2-right, .step_3-left {
  max-width: 20rem;
  position: relative;
}

.steps_number {
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.card-truck-left {
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.card_truck {
  background-color: #f2f3f2;
  border-radius: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  overflow: hidden;
}

.hero_container {
  grid-column-gap: 2rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.hero_container-left {
  width: 50%;
}

.badge_container {
  grid-column-gap: 1rem;
  display: flex;
}

.hero_container-right {
  width: 50%;
  position: relative;
}

.hero_image {
  z-index: -2;
  position: absolute;
  top: auto;
  bottom: -7%;
  left: auto;
  right: 12%;
  transform: rotate(10deg);
}

.footer_container {
  justify-content: center;
  display: flex;
}

.text-style-nounderline {
  text-decoration: none;
}

.text-color-white {
  color: #fff;
}

.text-color-white.text-weight-medium.text-align-center.banner_text {
  flex: 1;
}

.link-block-2 {
  display: flex;
}

.footer_social-container {
  color: rgba(31, 31, 31, .7);
  align-items: center;
  text-decoration: none;
  transition: color .3s cubic-bezier(.075, .82, .165, 1);
}

.footer_social-container:hover {
  color: #f47121;
}

.icon-xsmall {
  max-height: 1.5rem;
}

.card_cravings {
  background-color: #fff;
  border-radius: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  overflow: hidden;
}

.truck_image {
  align-self: center;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.text-color-secondary {
  color: rgba(31, 31, 31, .7);
}

.text-color-orange {
  color: #f47121;
}

.heading-4 {
  letter-spacing: -.03em;
}

.heading-5 {
  font-weight: 600;
}

.support_help-container {
  border: .0625rem solid #c1c1bf;
  border-radius: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  display: flex;
}

.nav_links-container {
  grid-column-gap: 2rem;
  align-items: center;
  display: flex;
}

.nav_links-block {
  grid-column-gap: .25rem;
  color: #1f1f1f;
  align-self: center;
  align-items: center;
  text-decoration: none;
  transition: color .3s cubic-bezier(.075, .82, .165, 1);
  display: flex;
}

.nav_links-block:hover, .nav_links-block.w--current {
  color: #f47121;
}

.nav_links-block-arrow {
  align-self: center;
  line-height: 0;
}

.legal_rtf p {
  margin-bottom: 1rem;
}

.legal_rtf h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.skip-link {
  margin-top: -40px;
}

.nav_menu-button {
  padding: .5rem;
  display: none;
}

.section-global-banner {
  z-index: 9;
  background-color: #f47121;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.banner_container {
  height: 3.5rem;
  grid-column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.banner_close {
  cursor: pointer;
}

.feature_1-container {
  grid-column-gap: 4rem;
  align-items: center;
  display: flex;
}

.feature_1-left {
  width: 50%;
  height: 40rem;
  background-color: #f47121;
  border-radius: 3rem;
  justify-content: center;
  padding: 2.5rem;
  display: flex;
  overflow: hidden;
}

.feature_1-right {
  width: 50%;
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.chip_component {
  grid-column-gap: .25rem;
  background-color: #f47121;
  border-radius: 40rem;
  align-items: center;
  padding: .5rem 1rem;
  display: flex;
}

.howitworks_container {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-items: center;
  display: grid;
}

.howitworks_container-item {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.howitworks_item-number {
  width: 5rem;
  height: 5rem;
  background-color: #f2f3f2;
  border-radius: 40rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.howitworks_item-image {
  width: 100%;
  max-width: 24.75rem;
}

.location_container-hero {
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.location_badges-container {
  grid-column-gap: 1rem;
  display: flex;
}

.location-map {
  width: 100%;
  height: 40rem;
  max-width: 64rem;
  background-color: #e8e7e5;
  border-radius: 3rem;
  overflow: visible;
}

.location_container {
  grid-row-gap: 4rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.download_container {
  grid-column-gap: 1rem;
  justify-content: center;
  display: flex;
}

.section-home-hero {
  position: relative;
  overflow: hidden;
}

.hero-sun-detail {
  z-index: -1;
  width: 100%;
  background-color: #f4bf31;
  border-top-left-radius: 500rem;
  border-top-right-radius: 500rem;
  position: absolute;
  top: 0%;
  bottom: 20%;
  left: 0%;
  right: 0%;
}

.nav_component-home {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: .0625rem solid rgba(193, 193, 191, 0);
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.sticker-detail {
  transition: transform 1ms;
  transform: scale(0);
}

.van_animation {
  max-width: 64rem;
  position: relative;
}

.van_animation-car {
  z-index: 1;
  width: 100%;
  position: relative;
}

.van_animation-door {
  z-index: 5;
  width: 100%;
  max-width: 25.5%;
  position: absolute;
  top: 5.55%;
  left: 36.1%;
}

.van-door, .van-body {
  width: 100%;
}

.van_animation-wheel {
  width: 100%;
  max-width: 12.5%;
  position: absolute;
  bottom: 2%;
}

.van_animation-wheel.back {
  z-index: 3;
  left: 13.5%;
}

.van_animation-wheel.front {
  z-index: 4;
  right: 10.5%;
}

.van-wheel {
  width: 100%;
}

.van_animation-shadow {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.van-shadow {
  height: 100vw;
  max-height: 2rem;
  filter: blur(.375rem);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #220d00 17%, rgba(244, 113, 33, 0) 50%, #220d00 86%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(136, 54, 4, .4) 15%, rgba(61, 23, 0, .3) 50%, rgba(136, 54, 4, .4) 85%, rgba(255, 255, 255, 0));
  border-radius: 5rem;
}

.sun_container {
  z-index: -1;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: auto;
  overflow: hidden;
}

.sticker_container {
  width: auto;
  max-width: 7rem;
  position: fixed;
  top: auto;
  bottom: 2rem;
  left: auto;
  right: 2rem;
}

.sun-detail {
  width: 130vw;
  height: 130vw;
  background-color: #f4bf31;
  border-radius: 1000rem;
  position: absolute;
  top: 5vw;
}

.category_icon {
  background-color: #9a9a99;
  border-radius: 10rem;
  padding: .5rem;
  transition: opacity .2s;
}

.category_container {
  width: 70%;
  flex-direction: column;
  display: none;
}

.category-item {
  grid-column-gap: 1rem;
  background-color: #fff;
  border-bottom: .0625rem solid #c1c1bf;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.feature_2-right {
  width: 50%;
  display: flex;
}

.feature_2-left {
  width: 50%;
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.feature_2-container {
  grid-column-gap: 4rem;
  align-items: center;
  display: flex;
}

.phone_animation {
  position: absolute;
}

.phone-device {
  z-index: 2;
  width: 100%;
  max-width: 24rem;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.phone-screen {
  z-index: 1;
  width: 100%;
  max-width: 78.1%;
  position: absolute;
  top: 17%;
  bottom: auto;
  left: 11%;
}

.phone-bg {
  z-index: 0;
  max-height: 95%;
  max-width: 90%;
  border-radius: 2.75rem;
  position: absolute;
  top: 2%;
  bottom: 0%;
  left: 5%;
  right: 0%;
}

.phone-image.ui, .image-5 {
  width: 100%;
}

.bg-fill {
  width: 100%;
  height: 100%;
  background-color: #e8e7e5;
}

.van_container {
  width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
}

.phone_container {
  width: 100%;
  max-width: 24rem;
  position: relative;
}

.section-redirect {
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.snacks_container {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: stretch;
  display: grid;
}

.snack-item {
  max-height: 10rem;
  border: .0625rem solid #c1c1bf;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.snack-item.nil {
  border-style: none;
}

.snack-item.offset-col {
  margin-top: 6rem;
  margin-bottom: -6rem;
}

.snack-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.download-badge {
  transition: transform .3s cubic-bezier(.175, .885, .32, 1.275);
}

.download-badge:hover {
  transform: scale(1.1);
}

.sun-bg {
  z-index: -2;
  width: 160vw;
  height: 120vw;
  background-image: radial-gradient(circle, #e5aa0a, #f4bf31);
  border-top-left-radius: 1000rem;
  border-top-right-radius: 1000rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: auto;
}

.div-block {
  width: 40rem;
  height: 40rem;
  background-color: #fc8943;
}

.div-block-2 {
  width: 40rem;
  height: 40rem;
  background-color: #ec5900;
}

.form-2 {
  padding: 10px 50px 10px 10px;
}

.body {
  display: block;
}

.container-2 {
  background-image: url('../images/van-mock.png'), url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
}

.hero-heading-center {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-heading.margin-bottom-32px {
  margin-bottom: 32px;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.hero-heading-left {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.shadow-two-2 {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.features-list {
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.features-wrapper-two {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.features-left {
  max-width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.features-paragraph {
  margin-bottom: 24px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.features-right {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -16px;
  display: flex;
}

.features-block-two {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}

.features-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 16px;
}

.italic-text {
  text-align: center;
}

.nav_container_no_cta {
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.nav_container_no_cta.howitworks {
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .van_animation {
    max-width: 80rem;
  }

  .sun_container {
    height: 80%;
  }

  .block-quote {
    border-left-style: none;
    padding-top: 20px;
  }

  .image-6 {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .show-tablet {
    display: block;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .hide-tablet {
    display: none;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-huge {
    margin: 5rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .support_container {
    grid-row-gap: 2rem;
    grid-template-columns: 2fr;
  }

  .faq_question {
    grid-column-gap: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .faq_answer {
    margin-bottom: 0;
  }

  .faq_answer-content {
    padding-bottom: 1.5rem;
  }

  .footer_container-pages, .footer_container-social {
    grid-column-gap: 1.5rem;
  }

  .footer_column-home {
    width: 33.33%;
  }

  .legal_container {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .legal_container-left {
    position: static;
  }

  .steps_container {
    align-items: center;
  }

  .steps_heading {
    text-align: center;
  }

  .card_truck {
    grid-template-columns: 1fr 1fr;
  }

  .hero_container {
    flex-direction: column;
  }

  .hero_container-left {
    width: 100%;
    text-align: center;
    align-self: center;
    margin-top: -5rem;
    margin-bottom: .1rem;
  }

  .badge_container {
    justify-content: center;
  }

  .hero_container-right {
    width: 100%;
    height: 38rem;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .hero_image {
    object-fit: contain;
    align-self: center;
    position: static;
    top: auto;
    bottom: 0%;
    transform: rotate(0);
  }

  .truck_image {
    object-fit: scale-down;
    align-self: stretch;
  }

  .image-3, .image-4 {
    height: 100%;
    object-fit: cover;
  }

  .feature_1-container {
    grid-column-gap: 3rem;
  }

  .feature_1-left {
    width: 60%;
    height: 32rem;
  }

  .feature_1-right {
    width: 40%;
  }

  .howitworks_container {
    grid-column-gap: 1.5rem;
    grid-row-gap: 3rem;
  }

  .location-map {
    height: 32rem;
  }

  .location_container {
    grid-row-gap: 3rem;
  }

  .van-shadow {
    max-height: 1.5rem;
  }

  .sun_container {
    height: 80%;
  }

  .sticker_container.w--current {
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .feature_2-right {
    width: 60%;
  }

  .feature_2-left {
    width: 40%;
  }

  .feature_2-container {
    grid-column-gap: 3rem;
  }

  .snacks_container {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .sun-bg {
    width: 180vw;
    height: 180vw;
  }

  .container-3 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .features-wrapper-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-left {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .features-right {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .fs-styleguide_row.is-for-social-icons {
    grid-template-rows: auto auto;
  }

  .fs-styleguide_version-details {
    font-size: .875rem;
  }

  .heading-small {
    font-size: 1.125rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr 1fr;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom.margin-medium {
    align-self: center;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .fs-styleguide_section-type {
    font-size: .875rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-large {
    font-size: 2rem;
  }

  .show-mobile-landscape {
    display: block;
  }

  .fs-styleguide_page-header {
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .fs-styleguide_color-sample {
    padding: 2.5rem 2rem;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .heading-xlarge {
    font-size: 2.5rem;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heading-medium {
    font-size: 1.5rem;
  }

  .support_faq {
    border-radius: 1.5rem;
  }

  .support_sidebar {
    border-radius: 2rem;
  }

  .support_container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .faq_question {
    grid-column-gap: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .faq_answer {
    margin-bottom: 0;
  }

  .faq_answer-content {
    padding-bottom: 1.25rem;
  }

  .footer_container-pages {
    grid-column-gap: 1.25rem;
    justify-content: flex-start;
  }

  .footer_container-social {
    grid-column-gap: 1.25rem;
  }

  .legal_container-right, .support_sidebar-top, .support_sidebar-bottom, .card_download {
    border-radius: 1.5rem;
  }

  .card_location {
    border-radius: 1.5rem;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
  }

  .steps_container {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
  }

  .steps_number {
    max-width: 30%;
  }

  .card_truck {
    border-radius: 1.5rem;
  }

  .hero_container-left {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero_container-right {
    height: auto;
  }

  .hero_image {
    max-width: 50%;
  }

  .footer_container {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-wrap: wrap;
  }

  .card_cravings {
    border-radius: 1.5rem;
  }

  .heading-3 {
    text-align: center;
  }

  .steps_image {
    max-width: 80%;
  }

  .support_help-container {
    grid-row-gap: 2rem;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
  }

  .feature_1-container {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: column;
  }

  .feature_1-left {
    width: 100%;
    max-width: 24rem;
  }

  .feature_1-right {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .howitworks_container {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .howitworks_container-item {
    align-items: stretch;
  }

  .location-map {
    height: 24rem;
  }

  .location_container {
    grid-row-gap: 2rem;
  }

  .nav_component-home {
    background-color: #fff;
    border-bottom-color: #c1c1bf;
    margin-bottom: 1rem;
  }

  .van-shadow {
    max-height: 1.25rem;
  }

  .sun_container {
    height: 82%;
  }

  .sticker_container.w--current {
    bottom: 1rem;
    right: 1rem;
  }

  .feature_2-right {
    width: 100%;
    max-width: 24rem;
  }

  .feature_2-left {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .feature_2-container {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: column-reverse;
  }

  .snacks_container {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
  }

  .snack-item.nil {
    display: none;
  }

  .snack-item.offset-col {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sun-bg {
    width: 320vw;
    height: 320vw;
  }

  .hero-heading-center, .hero-heading-left {
    padding: 60px 15px;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .features-list {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .text-style-link {
    font-size: 1rem;
  }

  .fs-styleguide_2-col {
    grid-template-columns: auto;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .show-mobile-portrait {
    display: block;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer_container-pages {
    grid-row-gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_container {
    flex-direction: column;
  }

  .feature_1-left {
    height: 24rem;
  }

  .location_container-hero {
    text-align: center;
  }

  .sun_container {
    height: 84%;
  }

  .container-3 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .features-right {
    margin-bottom: -30px;
  }

  .features-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .features-image {
    margin-bottom: 10px;
  }
}

#w-node-_25ddb270-d75f-3c5e-4460-17a0059f8f4d-2e3ea8a8 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-f060f1d7-cf73-df61-6f6b-9decacaaf4e1-2e3ea8a8 {
  grid-area: 6 / 2 / 7 / 3;
}

#w-node-bdfde848-86e9-fafc-63e7-a52f69fb2f9d-69fb2f95, #w-node-bdfde848-86e9-fafc-63e7-a52f69fb2faa-69fb2f95, #w-node-bdfde848-86e9-fafc-63e7-a52f69fb2fb7-69fb2f95, #w-node-bdfde848-86e9-fafc-63e7-a52f69fb2fc4-69fb2f95 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_25ddb270-d75f-3c5e-4460-17a0059f8f4d-2e3ea8a8, #w-node-f060f1d7-cf73-df61-6f6b-9decacaaf4e1-2e3ea8a8 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-bdfde848-86e9-fafc-63e7-a52f69fb2f9d-69fb2f95 {
    justify-self: center;
  }
}


